.header
{
    width: 1300px;
    height: 60px;
    border: 1px solid;
}

ul
{
    list-style: none;
    -webkit-padding-start: 0px;
    font-size: 18px;
    color: #337ab7;
}

li
{
    padding: 10px;
}

.navLabel
{
   padding: 5px;
}

.left-nav
{
    width: 150px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    height: 600px;
    float: left;
}

.apps-iframe
{
    width: 1150px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    height: 600px;
    float: left;
}

#module-iframe
{
  border: none;
}

.heading
{
  float: left;
  padding: 10px;
  width: 120px;
  height: 55px;
}

.main-buttons-div
{
  float: right;
  padding: 10px;
}

.dashboard
{
    left: 50%;
    top: 50%;
    position: absolute;
    font-weight: bold;
    font-size: 30px;
}
